body {
    margin: 0;
    height: 100vh;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.home-title {
    text-align: center;
    color: var(--font-color);
    border: 5px solid var(--font-color);
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 3.5rem;
}

.home-description {
    text-align: center;
    color: var(--font-color);
    margin: 25px 0;
}

.get-started-link {
    color: black;
    background-color: var(--font-color);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
}