:root {
    --font-color: #04AA6D;
    --background-color: #333;
    --accent-color: #04AA6D;
    --form-color: #d1d1d1;
    --button-color: #acacac;
    --active-button-color: #242323;
    --from-message-color: #03fc84;
    --to-message-color: #03cafc;
    --modal-button-color: #750000;
    --modal-button-hover-color: #2f7500;
}

body {
    overflow-y: hidden;
}

/* 
Remove scrollbar of body overflow
*/

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-container {
    display: flex;
    height: 100vh;
}

/* 
SAFARI 100vh bug
*/

_::-webkit-full-page-media, _:future, :root .message-container {
    height: -webkit-fill-available;
}

.status-bar {
    width: 100%;
    margin: 10px 0;
    display: flex;
}

.logout-link {
    display: inline-block;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    height: 5vh;
    width: 5vh;
    background-color: var(--modal-button-color);
    padding: 5px;
    border-radius: 10px;
    background-image: url(../static/icons/logout.svg);
    background-repeat: no-repeat;
    background-color: rgba(145, 0, 0, 0.4);
    background-position: center;
    background-size: 80%;
}

.chat-list-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-list {
    padding: 0;
    list-style-type: none;
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-list::-webkit-scrollbar {
    display: none;
}

.chat-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-list > .chat-item {
    background-color: var(--form-color);
    display: flex;
    align-items: center;
}


.chat-list > .chat-item:hover {
    background-color: var(--button-color);
}

.chat-list > .chat-item.active {
    background-color: var(--active-button-color);
}

.chat-list > .chat-item > button {
    color: var(--font-color);
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 4vh;
    text-align: left;
    overflow: hidden;
}

.chat-list > .chat-item > p.unseen-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--accent-color);
    margin-right: 10px;
    font-size: 2vh;
    height: 3vh;
    width: 3vh;
}

.add-chat-button {
    height: 7vh;
    width: 7vh;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url(../static/icons/plus.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: 80%;
    outline: none;
}

.add-chat-button:hover {
    cursor: pointer;
}

/* Responsive Layout */

@media screen and (max-width:900px) {
    .chat-list-wrapper {
        width: 30%;
    }

    .message-show-container {
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .chat-list-wrapper {
        width: 40%;
    }

    .message-show-container {
        width: 60%;
    }
}


/*
===========
Message show container
===========
*/

.message-show-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.inner-wrapper {
    overflow-y: scroll;
}

/* Hiding scrollbar */

.inner-wrapper::-webkit-scrollbar {
    display: none;
}

.inner-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-show-container .message {
    width: 40%;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    padding: 5px;
    text-align: left;
    color: #002538;
}

.message-show-container .left {
    background-color: var(--from-message-color);
    margin-left: 5px;
}

.message-show-container .right {
    margin-left: auto;
    background-color: var(--to-message-color);
    margin-right: 5px;
}

.message-show-container .message > .message-content {
    font-size: 18px;
    word-wrap: break-word;
}

.message-show-container .message > .message-time {
    font-size: 14px;
    text-align: right;
}

/* 
Responsive Message Resizing
*/

@media screen and (max-width:900px) {
    .message-show-container .message {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .message-show-container .message {
        width: 65%;
    }
}

/*
===========
Message send container
===========
*/

.message-send-wrapper {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.message-send-wrapper .message-send-input {
    flex-grow: 1;
    height: unset;
    color: white;
    height: 7vh;
    resize: none;
    font-size: 1.8vh;
    opacity: 0.9;
    background-color: var(--background-color);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.message-send-wrapper .message-send-input:focus {
    outline: none;
}

.message-send-wrapper > .message-send-button {
    padding: 0;
    box-sizing: initial;
    border: none;
    border-radius: 50%;
    color:white;
    height: 7vh;
    width: 7vh;
    margin: 10px 10px;
    background-image: url(../static/icons/send.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: calc(50% + 4px) 50%;
    background-size: 80%;
    outline: none;
}

.message-send-wrapper > .message-send-button:hover {
    cursor: pointer;
}

/* 
MODAL
*/

.modal-container {
    position: fixed;
    top: 10%;
    left: 20%;
    right: 20%;
    opacity: 0.8;
    background-color: var(--active-button-color);
}

.channel-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.contact-header { font-size: 3rem; }

.contact-input {
    width: 50%;
    margin: 10px 0;
    font-size: 1.3rem;
    text-align: center;
    outline: none;
    border: none;
    background-color: var(--background-color);
    color: white;
}

.username-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    margin-bottom: 15px;
    max-height: 50vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: anywhere;
}

.username-list::-webkit-scrollbar {
    display: none;
}

.username-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-item {
    text-align: center;
    max-width: 100%;
    margin: 10px 0;
}

.username {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.5rem;
    color: var(--from-message-color);
}

.contact-btn {
    display: inline-block;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    background-color: var(--modal-button-color);
    transition: all 0.3s ease;
}

.contact-btn:hover, .close-btn:hover {
    background-color: var(--modal-button-hover-color);
    color: black;
}

.modal-container.closed {
    display: none;
}

.close-btn {
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    background-color: var(--modal-button-color);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}