:root {
    --font-color: #04AA6D;
    --background-color: #333;
    --accent-color: #04AA6D;
    --form-color: #d1d1d1;
    --button-color: #acacac;
    --active-button-color: #242323;
    --from-message-color: #03fc84;
    --to-message-color: #03cafc;
    --modal-button-color: #750000;
    --modal-button-hover-color: #2f7500;
}

body {
    overflow: hidden;
}

.message-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.chat-list-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-list {
    padding: 0;
    list-style-type: none;
    width: 100%;
    flex-grow: 1;
}

.chat-list > .chat-item > button {
    color: var(--font-color);
    background-color: var(--form-color);
    transition: background-color 0.3s ease;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 4vh;
    text-align: left;
}

.chat-list > .chat-item > button:hover {
    background-color: var(--button-color);
}

.chat-list > .chat-item > button.active {
    background-color: var(--active-button-color);
}

.add-chat-button {
    height: 5vh;
    width: 5vh;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Responsive Layout */

@media screen and (max-width:900px) {
    .chat-list-wrapper {
        width: 30%;
    }

    .message-show-container {
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .chat-list-wrapper {
        width: 40%;
    }

    .message-show-container {
        width: 60%;
    }
}


/*
===========
Message show container
===========
*/

.message-show-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.inner-wrapper {
    overflow-y: scroll;
}


/* Hiding scrollbar */

.inner-wrapper::-webkit-scrollbar {
    display: none;
}

.inner-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-show-container  .message {
    width: 40%;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    padding: 5px;
    text-align: left;
    color: #002538;
}

.message-show-container  .left {
    background-color: var(--from-message-color);
    margin-left: 5px;
}

.message-show-container  .right {
    margin-left: auto;
    background-color: var(--to-message-color);
    margin-right: 5px;
}

.message-show-container .message > .message-content {
    font-size: 18px;
}

.message-show-container .message > .message-time {
    font-size: 14px;
    text-align: right;
}

/* 
===========
Message send container
===========
*/

.message-send-wrapper {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.message-send-wrapper .message-send-input {
    flex-grow: 1;
    height: unset;
    color: white;
    height: 7vh;
    resize: none;
    font-size: 1.1rem;
    /* opacity: 0.5; */
    background-color: var(--background-color);
}

.message-send-wrapper .message-send-input:focus {
    outline: none;
}

.message-send-wrapper .message-send-button {
    padding: 0;
    box-sizing: initial;
    border: none;
    border-radius: 50%;
    color:white;
    height: 7vh;
    width: 7vh;
    background: blue;
    margin: 10px 10px;
}

/* 
MODAL
*/

.modal-container {
    position: fixed;
    top: 10%;
    left: 20%;
    right: 20%;
    opacity: 0.8;
    background-color: var(--active-button-color);
}

.channel-model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.contact-header { font-size: 3rem; }

.username-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    margin-bottom: 15px;
}

.user-item {
    display: flex;
    flex-direction: row;
}

.username {
    margin-right: 5px;
    font-size: 1.5rem;
    color: var(--from-message-color);
}

.contact-btn {
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    background-color: var(--modal-button-color);
    transition: all 0.3s ease;
}

.contact-btn:hover, .close-btn:hover {
    background-color: var(--modal-button-hover-color);
    color: black;
}

.modal-container.closed {
    display: none;
}

.close-btn {
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    background-color: var(--modal-button-color);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}