:root {
    --font-color: #04AA6D;
    --background-color: #333;
    --accent-color: #04AA6D;
    --form-color: #d1d1d1;
    --button-color: #acacac;
    --success-color: #00c000;
    --danger-color: #a00000;
    --warning-color: #cfb000;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
=============
Login Page / Register Page
=============
*/

.flash-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inner-flash-message-wrapper {
    text-align: center;
    width: 80vw;
    border-radius: 10px;
}

.inner-flash-message-wrapper.success { background: var(--success-color); }
.inner-flash-message-wrapper.danger { background: var(--danger-color); }
.inner-flash-message-wrapper.warning { background: var(--warning-color); }

.flash-message-content {
    color: black;
    font-size: 20px;
    display: inline;
}

.flash-close {
    margin-top: 3px;
    float: right;
    background: none;
    border: none;
}

.title, .login-title, .register-title {
    text-align: center;
    color: var(--font-color);
    font-size: 40px;
    margin: 0;
}

.title { margin-top: 20px; }

.login-title, .register-title {
    margin-bottom: 30px;
    margin-top: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-form-container {
    width: 80%;
    max-width: 1000px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    text-align: center;
}

.form {
    margin: 10px;
}

.form > * {
    width: 97%;
    margin: 10px 0;
    border: none;
}

.form > label {
    color: var(--font-color);
    font-size: 20px;
}

.form > input { 
    background-color: var(--form-color);
    border-radius: 5px;
}

.form > input[type=text], .form > input[type=password] {
    font-size: 15px;
    padding: 5px;
    outline: none;
}

.form > input[type=text]:focus, .form > input[type=password]:focus {
    outline: 3px solid black;
}

.form > a {
    width: initial;
    display: inline-block;
    padding: 5px;
    margin: 0;
    background-color: var(--font-color);
    text-decoration: none;
    color: var(--background-color);
    border-radius: 5px;
}

.form > input[type=submit] {
    font-size: 20px;
    transition: background-color 0.5s ease;
}

.form > input[type=submit]:hover {
    background-color: var(--button-color);
    cursor: pointer;
}