<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title> <!-- Change to name -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>

    <div class="main">
        <h1 class="home-title">Chat App</h1>
        <h2 class="home-description">Chat with anyone arround the world!</h2>
        <a href="/login" class="get-started-link">get started!</a>
    </div>
    
</body>

</html>