<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        name="description"
        content="Write Messages with anyone arround the world!">
    <title>Messages of {{ current_user.username }}</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/messages.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/logo.svg">
</head>

<body>
    
    <div class="message-container">
        
        <div class="chat-list-wrapper">

            <div class="status-bar">
                <a class="logout-link" href="/logout" aria-label="logout"></a>
            </div>

            <ul class="chat-list" id="chat-list"></ul>

            <button class="add-chat-button" id="add-chat-button" aria-label="add chat"></button>
            
            <div class="modal-container" id="modal-container">
                <div class="channel-modal">
                    <h1 class="contact-header">Contact a person</h1>
                    <input class="contact-input" type="text" id="contact-input">
                    <ul class="username-list" id="username-list"></ul>
                    <button class="close-btn" id="close-btn">Close</button>
                </div>
            </div>

        </div>

        <div class="message-show-container">

            <div class="inner-wrapper" id="inner-wrapper">
                <!-- <div class="message left">
                    <p class="message-author">author</p>
                    <p class="message-content">content</p>
                    <p class="message-time">time</p>
                </div> Boiler plate message -->     
            </div>

            <div class="message-send-wrapper">

                <textarea class="message-send-input" id="msg-send-input"></textarea>
                <button class="message-send-button" id="msg-send-btn" aria-label="send"></button>

            </div>

        </div>

    </div>

    <!-- Scripts -->

    <script src="../static/javascript/uiscript.js"></script>

</body>

</html>