<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/logo.svg">
</head>

<body>
    
    <h1 class="title">Chat App</h1>
    <h1 class="register-title">Register a new account</h1>
    <div class="form-container">
        <div class="inner-form-container">
            <form action="/register" method="post" class="form">
                <label for="username">Enter your username:</label>
                <br>
                <input type="text" id="username" name="username">
                <br>
                <label for="password1">Enter your password:</label>
                <br>
                <input type="password" id="password1" name="password1">
                <br>
                <label for="password2">Confirm your password:</label>
                <br>
                <input type="password" id="password2" name="password2">
                <br>
                <a href="/login">Login</a>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>

</body>

</html>