<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/logo.svg">
</head>

<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="flash-message">
                <div class="inner-flash-message-wrapper {{ category }}">
                    <button class="flash-close"></button>
                    <p class="flash-message-content">{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    {% endwith %}

    <h1 class="title">Chat App</h1>
    <h1 class="register-title">Register a new account</h1>
    <div class="form-container">
        <div class="inner-form-container">
            <form action="/register" method="post" class="form">
                <label for="username">Enter your username:</label>
                <input type="text" id="username" name="username">
                <label for="password1">Enter your password:</label>
                <input type="password" id="password1" name="password1">
                <label for="password2">Confirm your password:</label>
                <input type="password" id="password2" name="password2">
                <div class="login-choice-wrapper">
                    <p>Already have an account?</p>
                    <a href="/login">Login</a>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>

    <!-- Javascript -->

    <script src="../static/javascript/flashmsg.js"></script>

</body>

</html>